a {
    text-decoration: none;
    color: inherit;
}

.header {
    background: yellow;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner {
   padding: 10px 20px;
}

.header__logo {
    font-size: 40px;
    color: rgb(12, 180, 246);
    font-weight: bold;
    margin-left: 40px;
}

.nav {
    padding: 10px 20px;
}

.nav__lists {
    display: flex;
    
}

.nav__lists-item {
    color: rgb(12, 180, 246);
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
}

.nav__lists-item:last-child {
    margin-right: 20px;
}